*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/caches
.idea/caches/build_file_checksums.ser
/.idea/codeStyles
/.idea/
.DS_Store
/build
/config
/captures
/src/main/java/com/shu/popularmoviesstage/dbconfig.java
.externalNativeBuild
